body {
  font-family: "Karla", sans-serif;
  text-align: center;
  margin: 10px 20px;
  background-color: #f837;
}

.orange-color {
  color: #f75836;
}

/* for removing left padding for the bullets */
ul {
  padding-inline-start: 0;
  list-style: none;
}

ul li {
  padding: 7px 0;
}

ul li.item-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li.item-with-icon img {
  width: 30px;
  margin-right: 7px;

}

ul li.item-with-icon img:hover{
  width: 34px;
  filter: invert(20%) sepia(243%) saturate(1576%) hue-rotate(-21deg) brightness(137%) contrast(73%);
}

img.avatar {
  border-radius: 30px;
}

hr {
  border-color: black;
  margin: 2rem 0;
}

a.email-button {
  color: blueviolet;
}
a:hover {
  color: #f83637;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #f75836;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f75836;
}

.card {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 1rem;
}

.purple_color{color: #521752;}

